#include("$srcdir/head.txt")

<title>SynBioChem Data Capture Service</title>
<link id="apiUsers" href="api/users">
<link id="apiStudies" href="api/studies">
<link id="apiAssays" href="api/assays">
<link id="apiProjects" href="api/projects">
<link id="apiDirs" href="api/tree">
<link id="apiTasks" href="api/tasks">
<script type="text/javascript" src="capture.js"></script>
<link rel="stylesheet" href="capture.css">

#include("$srcdir/top.txt")

<h1>Data Capture Service</h1>

<p>
	This is the SynBioChem experimental data capture and archiving service.
	It exists to record the primary data from experiments
	<i>once those experiments have completed</i> and preserve the data for
	future reference. It arranges for the data to be copied to the main
	working storage system (the
	<a href="http://sbc-ds1.mib.manchester.ac.uk:5000/">Synology NAS</a>)
	and for preservation archives to be built of the data, and will record
	in the SynBioChem OpenBIS repository where the data has been stored. It
	<i>does not</i> delete the data from the instruments, and the data must
	be copied to the
	<b>DATA_TRANSFER</b>
	directory (usually on the
	<b>D:</b>
	or
	<b>E:</b>
	drive) on the instruments for this service to be able to see it at all.
</p>
<p>
	You can always refresh this page: you will not stop any current processing by doing so.
</p>

<div id="new" title="New archive task" class="flexcont flexible" style="max-height: 85%">
	<p>Please select who did the experiment, what SynBioChem project this
		is part of, and where the data to record is located. You may also
		provide some notes that will be recorded as part of the metadata for
		this project.</p>
	<form id="newTask" class="flexcont flexible">
		<table>
			<tr>
				<td>
					<!-- ============================================================ -->
					<label for="users">Responsible Scientist:</label>
					<select id="users" style="width: 48%">
						<option selected id="users_initial">Choose...</option>
					</select>
				</td>
				<td>
					<!-- ============================================================ -->
					<label for="projects">SynBioChem Project:</label> <select
					id="projects" style="width: 48%">
						<option selected id="projects_initial">Choose...</option>
					<!-- ============================================================ -->
				</select>
				</td>
			</tr>
			<tr style="max-height: 15em">
				<td colspan="2">
					<!-- ============================================================ -->
					<label for="dirs">Data Directory:</label>
					<div class="treescroll flexible" style="max-height: 35vh">
						<div id="dirtree"></div>
					</div>
					<!-- ============================================================ -->
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<!-- ============================================================ -->
					<label for="notes">Notes:</label>
					<textarea id="notes" rows="3" cols="50" style="max-height: 5em; width:90%"
						></textarea>
					<!-- ============================================================ -->
					<input type="submit" tabindex="-1" style="position: absolute; top: -1000px">
					<!-- ============================================================ -->
				</td>
			</tr>
		</table>
	</form>
</div>

<div id="current">
	<h2>Current archiving tasks</h2>
	<table id="tasks" style="width: 100%; font-size: 80%;">
		<tr id="tasksHeading">
			<th>ID
			<th>Scientist
			<th>Assay
			<th>Started
			<th>Progress
			<th>Finished
			<th>Registered
			<th>
				<!-- empty -->
		</tr>
	</table>
	<button id="create-task">Create new archiving task</button>
</div>

<div id="loader" class="loader" style="display:none">
	<img src="images/loading.gif" height="64" width="64">
</div>

#include("$srcdir/bottom.txt")
